# Java bytecode
*.class

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Editor swap files
*.swp

# Metafiles
*.DS_Store

# Gradle and build-related
build/
gradle-app.setting
.gradletasknamecache
.gradle
## Whitelist Gradle build config
!build.gradle
